<h1>Let's Review Your Timesheet</h1>

    First name: <%= @timesheet.firstname%><br />
    Last name:  <%= @timesheet.lastname%><br />
    Email:  <%= @timesheet.email%><br />
    Date:  <%= @timesheet.date%><br />
    Shift:  <%= @timesheet.day_worked%><br />
    Start time:  <%= @timesheet.start_time%><br />
    Hours worked:  <%= @timesheet.hours_worked%><br />
    Total hours worked:  <%= @timesheet.total_hours_worked%><br />
    Subtotal pay:  <%= @timesheet.subtotal_pay%><br />
    Position:  <%= @timesheet.position%><br />
    Work week:  <%= @timesheet.work_week%><br />
    Shift pay:  <%= @timesheet.shift_pay%><br />
    Pay rate:  <%= @timesheet.pay_rate%><br />
    Grand total: <%= @timesheet.grand_total%>

<!-- <h5>Submit button</h5> -->
<%= link_to "submit email", send_email_path %>
