<p>
<% if flash[:notice] %>
 <!-- <h1><div class="notice"><%= flash[:notice] %></div></h1> -->
     <% if @timesheet.errors.any? %>
       <div id="error-explanation">
         <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibit your timesheet from being sent:</h2>
             <ul>
             <%= @timesheet.errors.full_messages.each do |message| %>
               <li><%= message %></li>
             <% end %>
             </ul>
       </div>
    <% end %>
<% end %>
</p>

<div id="timesheet">
  <h1>Timesheets#new</h1>
  <h1>Let's Get You Paid</h1>
    <%= form_for @timesheet do |f| %>

    First name: <%= f.text_field :firstname, :autocomplete=> :off%><br />
    Last name:  <%= f.text_field :lastname, :autocomplete=> :off%><br />
    Email:  <%= f.email_field :email, :autocomplete=> :off%><br />
    Date:  <%= f.date_field :date, :autocomplete=> :off%><br />
    Shift:  <%= f.text_field :day_worked, :autocomplete=> :off%><br />
    Start time:  <%= f.text_field :start_time, :autocomplete=> :off%><br />
    Hours worked:  <%= f.text_field :hours_worked, :autocomplete=> :off%><br />
    Total hours worked:  <%= f.text_field :total_hours_worked, :autocomplete=> :off%><br />
    Subtotal pay:  <%= f.text_field :subtotal_pay, :autocomplete=> :off%><br />
    Position:  <%= f.text_field :position, :autocomplete=> :off%><br />
    Work week:  <%= f.text_field :work_week, :autocomplete=> :off%><br />
    Shift pay:  <%= f.text_field :shift_pay, :autocomplete=> :off%><br />
    Pay rate:  <%= f.text_field :pay_rate, :autocomplete=> :off%><br />
    Grand total: <%= f.text_field :grand_total, :autocomplete=> :off%><br />

    <button name="review" id="review">Review</button>

</div>

<div id="email-preview">
  <%= render 'preview'%><br>
  <button name="edit" id="edit">back</button>

</div>
  <%= f.submit "Submit" %>
<% end %>
