<div id="validations">
   <% if @timesheet.errors.any? %>
     <div id="error-explanation">
       <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibit your timesheet from being sent:</h2>
       <ul>
       <% @timesheet.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
  <% end %>
</div>

<div id="timesheet">

    <%= form_for @timesheet do |f| %>
    <table>
      <h3>Timesheets#new</h3>
    <thead>

    </thead>
    <tbody>


    <form>
      <div class="row" id="title">
         <h1>MUSEUM HACK</h1>
      </div>
      <!-- Employee info -->
      <div class="row">
        <div class="large-12 columns">
          <label>First Name
            <%= f.text_field :firstname, placeholder: "First Name", :autocomplete=> :off%>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>
            <%= f.text_field :lastname, placeholder: "Last Name", :autocomplete=> :off%>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>
            <%= f.email_field :email, placeholder: "Email", :autocomplete=> :off%>
          </label>
        </div>
      </div>
      <!-- end employee info -->

      <!-- ADD SHIFT BUTTON HERE -->

      <!-- Date/Position/StartTime -->
      <div class="row">
        <div class="large-4 columns">
          <div class="row collapse">
            <div class="small-3 columns">
              <span class="postfix">Date</span>
            </div>
            <div class="small-9 columns">
              <%= f.date_field :date, placeholder: "Date", :autocomplete=> :off%>
            </div>
          </div>
        </div>
        <div class="large-4 columns">
            <%= f.collection_select :position, Timesheet::ROLES, :to_s, :to_s %>
        </div>
        <div class="large-4 columns">
            <%= f.text_field :start_time, placeholder: "Start Time", :autocomplete=> :off%>
        </div>
      </div>
      <!-- end date/position/starttime -->

      <!-- pay overview -->
      <div class="row">
        <div class="large-4 columns">
            <%= f.text_field :pay_rate, placeholder: "Pay Rate", :autocomplete=> :off%>
        </div>
        <div class="large-4 columns">
            <%= f.text_field :hours_worked, placeholder: "Hours Worked", :autocomplete=> :off%>
        </div>
        <div class="large-4 columns">
          SUBTOTAL
        </div>
      </div>
      <!-- end pay overview -->


      <div class="row">
        <div class="large-6 columns">
          <label>Grand Total
            <%= f.text_field :grand_total, :autocomplete=> :off%>
          </label>
        </div>
      </div>

      <!-- preview and submit buttons -->
      <div class="row">
        <div class="large-6 columns">
          <button name="review" id="review">Review</button>
        </div>
        <div class="large-4 columns">
          <%= f.submit "Submit", class: "button" %>
        </div>
      </div>
      <!-- end preview and submit buttons -->

    <% end %>


    </form>
  </tbody>
  </table>
</div>
<div id="email-preview">
  <%= render 'preview'%>
  <button name="edit" id="edit">Back</button>
</div>
