<p>
  <% if flash[:notice] %>
     <% if @timesheet.errors.any? %>
       <div id="error-explanation">
         <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibit your timesheet from being sent:</h2>
         <ul>
         <%= @timesheet.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
         </ul>
       </div>
    <% end %>
  <% end %>
</p>

<div id="timesheet">
  <h1>Timesheets#new</h1>
  <h1>Let's Get You Paid</h1>
    <%= form_for @timesheet do |f| %>
      <!-- <% if @timesheet.errors.any? %>
        <div id="error-explanation">
          <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibit your timesheet from being sent:</h2>
              <ul>
              <%= @timesheet.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
        </div>
      <% end %> -->

    First name: <%= f.text_field :firstname%><br />
    Last name:  <%= f.text_field :lastname%><br />
    Email:  <%= f.email_field :email%><br />
    Date:  <%= f.date_field :date%><br />
    Shift:  <%= f.text_field :day_worked%><br />
    Start time:  <%= f.text_field :start_time%><br />
    Hours worked:  <%= f.text_field :hours_worked%><br />
    Total hours worked:  <%= f.text_field :total_hours_worked%><br />
    Subtotal pay:  <%= f.text_field :subtotal_pay%><br />
    Position:  <%= f.text_field :position%><br />
    Work week:  <%= f.text_field :work_week%><br />
    Shift pay:  <%= f.text_field :shift_pay%><br />
    Pay rate:  <%= f.text_field :pay_rate%><br />
    Grand total: <%= f.text_field :grand_total%><br />

    <button name="review" id="review">Review</button>
    <!-- <%= link_to "review", '#', id: 'review'%> -->

</div>

<div id="email-preview">
  <%= render 'preview'%><br>
  <button name="edit" id="edit">Edit</button>
  <!-- <%= link_to "edit", '#', id: 'edit' %> -->
  <%= f.button :submit %>
</div>

<% end %>
