<h1>Timesheets#new</h1>
<h1>Let's Get You Paid</h1>
<div id="validations">
 <% if @timesheet.errors.any? %>
 <div id="error-explanation">
   <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibit your timesheet from being sent:</h2>
   <ul>
     <% @timesheet.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
   </ul>
 </div>
 <% end %>
</div>
<div id="timesheet">


  <%= form_for @timesheet do |f| %>

  First name:<%= f.text_field :firstname%><br />
  Last name:<%= f.text_field :lastname%><br />
  Email:<%= f.email_field :email%><br />
  <div class="container">
    <div id="place_to_add_form"></div> 
    <button type="button" id="add_form_button">Add another shift</button><br />
    Total Hours: <label id="timesheet_total_hours" name="timesheet[total_hours]"></label><br>
    Grand Total: <label id="timesheet_grand_total" name="timesheet[grand_total]"></label>
  </div>
  <p>


    <button name="review" id="review">Review</button>

  </div>

  <div id="email-preview">
    <%= render 'preview'%><br>
  </div>
  <%= f.submit "Submit" %>
  <% end %>
