<!-- MUSEUM HACK logo -->
  <div class="large-11 large-offset-1 large-centered medium-11 medium-centered medium-offset-1 small-11 small-centered small-offset-1 columns" id="mhlogo">
    <br>
    <%= image_tag("mhlogo.png") %>
    <br>
    <br>
  </div>
<!-- end MUSEUM HACK logo -->

<!-- form validations -->
<div id="validations">
   <% if @timesheet.errors.any? %>
     <div id="error-explanation">
       <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibit your timesheet from being sent:</h2>
       <ul>
       <% @timesheet.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
  <% end %>
</div>
<!-- end form validations -->

<!-- TIMESHEET -->
<div class="large-6 large-centered medium-8 medium-centered small-11 small-centered columns" id="sheet">
  <div id="timesheet">
    <br>
  <%= form_for @timesheet do |f| %>
    <!-- Employee info -->
    <div class="row">
      <div class="large-6 large-centered medium-6 medium-centered small-7 small-centered columns">
        <%= image_tag("employee_info.png") %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="row collapse">
          <div class="large-2 small-2 columns">
            <span class="prefix">name</span>
          </div>
          <div class="large-10 small-10 columns">
            <%= f.text_field :fullname, :required=>true, :placeholder=>"First name Last name" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="row collapse">
          <div class="large-2 medium-2 small-2 columns">
            <span class="prefix">email</span>
          </div>
          <div class="large-10 small-10 columns">
            <%= f.email_field :email, :required=>true, :placeholder=>"example@gmail.com" %>
          </div>
        </div>
      </div>
    </div>
    <!-- end employee info -->
    <div class="row">
      <div class="large-12 large-centered columns">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="large-6 large-centered medium-6 medium-centered small-7 small-centered columns">
        <%= image_tag("shift_info.png") %>
      </div>
    </div>
    <br>

    <!-- shifts -->
    <div id="shifts-wrapper"></div>
    <!-- end shifts -->

    <!-- add/delete shift button -->
    <div class="row">
      <div class="large-6 large-centered medium-7 medium-centered small-9 small-centered columns">
        <div class="large-6 medium-6 small-6 columns">
          <a href="#" id="add-shift"><%= render 'logos/add_shift' %></a>
        </div>
        <div class="large-6 medium-6 small-6 columns">
          <a href="#" id="remove-shift"><%= render 'logos/remove_shift'%></a>
        </div>
      </div>
    </div>
    <br>
    <!-- end add/delete shift button -->

    <div class="row">
      <div class="large-12 columns">
        <hr>
      </div>
    </div>

    <!-- verification section -->
   <div class="row">
     <div class="large-6 large-centered medium-6 medium-centered small-7 small-centered columns">
       <%= image_tag("grand_total.png") %>
     </div>
   </div>
   <br>

    <div class="row">
      <div class="large-5 large-offset-3 medium-5 medium-offset-3 small-7 small-offset-2 columns">
        <div class="row collapse">
          <div class="large-3 medium-3 small-3 columns">
            <span><%= image_tag("hours.png") %></span>
          </div>
          <div class="large-9 medium-9 small-9 columns">
            <%= f.text_field :total_hours, :required=>true, :disabled=>true%>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-5 large-offset-3 medium-5 medium-offset-3 small-7 small-offset-2 columns">
        <div class="row collapse">
          <div class="large-3 medium-3 small-3 columns">
            <span><%= image_tag("total.png") %></span>
          </div>
          <div class="large-9 medium-9 small-9 columns">
            <%= f.text_field :grand_total, :required=>true, :disabled=>true%>
          </div>
        </div>
      </div>
    </div>
    <!-- end verification section -->
  </div>
  <!-- review form -->
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= image_tag("confirmationRibbon.png") %>
    </div>
  </div>
  <br>
  <div class="row collapse">
    <div class="large-5 large-centered medium-5 medium-centered small-8 small-centered columns">
      <%= f.submit "SUBMIT", class: "button expand" %>
    </div>
  </div>
  <% end %>
</div>
<!-- end TIMESHEET -->
<br>
<br>

<!-- <div class="row collapse"><div class="large-3 medium-3 small-2 columns"><span class="prefix">time</span></div><div class="large-9 medium-9 small-10 columns"><select class="start_time timesheet_start_time" name="timesheet[shifts][][start_time]" required><option value="9:00am">9:00am</option><option value="9:15am">9:15am</option><option value="9:30am">9:30am</option><option value="9:45am">9:45am</option><option value="10:00am">10:00am</option><option value="10:15am">10:15am</option><option value="10:30am">10:30am</option><option value="10:45am">10:45am</option><option value="11:00am">11:00am</option><option value="11:15am">11:15am</option><option value="11:30am">11:30am</option><option value="11:45am">11:45am</option><option value="12:00pm">12:00pm</option><option value="12:15pm">12:15pm</option><option value="12:30pm">12:30pm</option><option value="12:45pm">12:45pm</option><option value="1:00pm">1:00pm</option><option value="1:15pm">1:15pm</option><option value="1:30pm">1:30pm</option><option value="1:45pm">1:45pm</option><option value="2:00pm">2:00pm</option><option value="2:15pm">2:15pm</option><option value="2:30pm">2:30pm</option><option value="2:45pm">2:45pm</option><option value="3:00pm">3:00pm</option><option value="3:15pm">3:15pm</option><option value="3:30pm">3:30pm</option><option value="3:45pm">3:45pm</option><option value="4:00pm">4:00pm</option><option value="4:15pm">4:15pm</option><option value="4:30pm">4:30pm</option><option value="4:45pm">4:45pm</option><option value="5:00pm">5:00pm</option><option value="5:15pm">5:15pm</option><option value="5:30pm">5:30pm</option><option value="5:45pm">5:45pm</option><option value="6:00pm">6:00pm</option><option value="6:15pm">6:15pm</option><option value="6:30pm">6:30pm</option><option value="6:45pm">6:45pm</option><option value="7:00pm">7:00pm</option><option value="7:15pm">7:15pm</option><option value="7:30pm">7:30pm</option><option value="7:45pm">7:45pm</option><option value="8:00pm">8:00pm</option><option value="8:15pm">8:15pm</option><option value="8:30pm">8:30pm</option><option value="8:45pm">8:45pm</option><option value="9:00pm">9:00pm</option></select></div></div> -->
