<div class="large-12 large-centered medium-12 medium-centered small-12 small-centered columns" id="mhlogo">
  <br>
  <%= render 'mhlogo' %>
  <br>
  <br>
</div>
<div id="validations">
   <% if @timesheet.errors.any? %>
     <div id="error-explanation">
       <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibit your timesheet from being sent:</h2>
       <ul>
       <% @timesheet.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
  <% end %>
</div>

<div class="large-6 large-centered medium-8 medium-centered small-11 small-centered columns" id="sheet">
  <div id="timesheet">
    <br>
  <%= form_for @timesheet do |f| %>
    <!-- Employee info -->
    <div class="row">
      <div class="large-6 large-centered medium-6 medium-centered small-7 small-centered columns">
        <%= render 'employee_info' %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="large-6 medium-6 columns">
        <%= f.text_field :firstname, placeholder: "First Name" %>
      </div>
      <div class="large-6 medium-6 columns">
        <%= f.text_field :lastname, placeholder: "Last Name" %>
      </div>
    </div>

    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="row collapse">
          <div class="large-2 small-2 columns">
            <span class="prefix">e-mail</span>
          </div>
          <div class="large-10 small-10 columns">
            <%= f.email_field :email %>
          </div>
        </div>
      </div>
    </div>
    <!-- end employee info -->

    <div class="row">
      <div class="large-12 large-centered columns">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="large-6 large-centered medium-6 medium-centered small-7 small-centered columns">
        <%= render 'shiftinfo' %>
      </div>
    </div>
    <br>

    <!-- Date/StartTime -->
    <!-- <div class="row">
      <div class="large-6 small-12 columns">
        <div class="row collapse">
          <div class="large-3 small-2 columns">
            <span class="prefix">date</span>
          </div>
          <div class="large-9 small-10 columns">
            <%= f.date_field :date %>
          </div>
        </div>
      </div>
      <div class="large-6 columns">
        <%= f.text_field :start_time, placeholder: "Start Time"%>
      </div>
    </div> -->
    <!-- end date/starttime -->

    <!-- pay position and rate -->
    <!-- <div class="row">
      <div class="large-6 medium-6 columns">
        <%= f.text_field :position, placeholder: "Position" %>
      </div>
      <div class="large-6 medium-6 columns">
          <%= f.text_field :pay_rate, placeholder: "Pay Rate" %>
      </div>
    </div> -->
    <!-- pay position/rate end -->

    <!-- hours worked and subtotal  -->
    <!-- <div class="row">
      <div class="large-6 medium-6 columns">
          <%= f.text_field :hours_worked, placeholder: "Hours Worked" %>
      </div>
      <div class="large-6 medium-6 columns">
        <%= f.text_field :hours_worked, placeholder: "Subtotal" %>
      </div>
    </div> -->
    <!-- end hours worked and subtotal -->

    <!-- additional shifts -->
    <div id="shifts-wrapper"></div>
    <!-- end additional shifts -->

    <!-- add/delete shift button -->
    <div class="row">
      <div class="large-6 large-centered medium-8 medium-centered small-9 small-centered columns">
        <div class="large-6 medium-6 small-6 columns">
          <a href="#" id="add-shift"><%= render 'add_shift' %></a>
        </div>
        <div class="large-6 medium-6 small-6 columns">
          <a href="#" id="remove-shift"><%= render 'remove_shift'%></a>
        </div>
      </div>
    </div>
    <br>
    <!-- end add/delete shift button -->


    <div class="row">
      <div class="large-12 columns">
        <hr>
      </div>
    </div>

    <!-- verification section -->

   <div class="row">
     <div class="large-6 large-centered medium-6 medium-centered small-7 small-centered columns">
       <%= render 'grand_total' %>
     </div>
   </div>
   <br>

    <div class="row">
      <div class="large-6 large-centered medium-6 medium-centered small-8 small-centered columns">
        <div class="row collapse">
          <div class="large-2 medium-2 small-2 columns">
            <span class="prefix">Hrs</span>
          </div>
          <div class="large-10 medium-10 small-10 columns">
            <%= f.text_field :grand_total%>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-6 large-centered medium-6 medium-centered small-8 small-centered columns">
        <div class="row collapse">
          <div class="large-2 medium-2 small-2 columns">
            <span class="prefix">$</span>
          </div>
          <div class="large-10 medium-10 small-10 columns">
            <%= f.text_field :grand_total %>
          </div>
        </div>
      </div>
    </div>
    <!-- end verification section -->
  </div>
  <br>
  <!-- review form -->

  <div id="email-preview">
    <%= render 'preview'%>
  </div>

  <div class="row">
    <div class="large-6 large-centered medium-6 medium-centered small-8 small-centered columns">
      <div class="large-6 columns" id="hide-review">
        <button name="review" class="button expand" id="review">Review</button>
      </div>
      <div class="large-6 columns">
        <%= f.submit "Submit", class: "button expand" %>
      </div>
    </div>
  </div>


  <% end %>

</div>
<br>
<br>
