<!-- MUSEUM HACK logo -->
<div class="large-12 large-centered medium-12 medium-centered small-12 small-centered columns" id="mhlogo">
  <br>
  <%= render 'logos/mhlogo' %>
  <br>
  <br>
</div>
<!-- end MUSEUM HACK logo -->

<!-- form validations -->
<div id="validations">
   <% if @timesheet.errors.any? %>
     <div id="error-explanation">
       <h2><%= pluralize(@timesheet.errors.count, "error") %> prohibit your timesheet from being sent:</h2>
       <ul>
       <% @timesheet.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
  <% end %>
</div>
<!-- end form validations -->

<!-- TIMESHEET -->
<div class="large-6 large-centered medium-8 medium-centered small-11 small-centered columns" id="sheet">
  <div id="timesheet">
    <br>
  <%= form_for @timesheet do |f| %>
    <!-- Employee info -->
    <div class="row">
      <div class="large-6 large-centered medium-6 medium-centered small-7 small-centered columns">
        <%= render 'logos/employee_info' %>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="row collapse">
          <div class="large-2 small-2 columns">
            <span class="prefix">full name</span>
          </div>
          <div class="large-10 small-10 columns">
            <%= f.text_field :fullname, :required=>true, :placeholder=>"First name, Last name" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-12 small-12 columns">
        <div class="row collapse">
          <div class="large-2 small-2 columns">
            <span class="prefix">e-mail</span>
          </div>
          <div class="large-10 small-10 columns">
            <%= f.email_field :email, :required=>true, :placeholder=>"example@gmail.com" %>
          </div>
        </div>
      </div>
    </div>
    <!-- end employee info -->
    <div class="row">
      <div class="large-12 large-centered columns">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="large-6 large-centered medium-6 medium-centered small-7 small-centered columns">
        <%= render 'logos/shiftinfo' %>
      </div>
    </div>
    <br>

    <!-- shifts -->
    <div id="shifts-wrapper"></div>
    <!-- end shifts -->

    <!-- add/delete shift button -->
    <div class="row">
      <div class="large-6 large-centered medium-7 medium-centered small-9 small-centered columns">
        <div class="large-6 medium-6 small-6 columns">
          <a href="#" id="add-shift"><%= render 'logos/add_shift' %></a>
        </div>
        <div class="large-6 medium-6 small-6 columns">
          <a href="#" id="remove-shift"><%= render 'logos/remove_shift'%></a>
        </div>
      </div>
    </div>
    <br>
    <!-- end add/delete shift button -->

    <div class="row">
      <div class="large-12 columns">
        <hr>
      </div>
    </div>

    <!-- verification section -->
   <div class="row">
     <div class="large-6 large-centered medium-6 medium-centered small-7 small-centered columns">
       <%= render 'logos/grand_total' %>
     </div>
   </div>
   <br>

    <div class="row">
      <div class="large-5 large-centered medium-5 medium-centered small-8 small-centered columns">
        <div class="row collapse">
          <div class="large-3 medium-3 small-3 columns">
            <span class="prefix">hrs</span>
          </div>
          <div class="large-9 medium-9 small-9 columns">
            <%= f.text_field :total_hours, :required=>true%>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="large-5 large-centered medium-5 medium-centered small-8 small-centered columns">
        <div class="row collapse">
          <div class="large-3 medium-3 small-3 columns">
            <span class="prefix">$</span>
          </div>
          <div class="large-9 medium-9 small-9 columns">
            <%= f.text_field :grand_total, :required=>true %>
          </div>
        </div>
      </div>
    </div>
    <!-- end verification section -->
  </div>
  <!-- review form -->

  <!-- div id="email-preview">
    <%#= render 'preview'%>
  </div> -->
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <%= render 'logos/submit_ribbon' %>
    </div>
  </div>
  <br>
  <div class="row collapse">
    <div class="large-5 large-centered medium-5 medium-centered small-8 small-centered columns">
      <!-- <div class="large-6 columns" id="hide-review">
        <button name="review" class="button expand" id="review">Review</button>
      </div> -->
      <%= f.submit "SUBMIT", class: "button expand" %>
    </div>
  </div>
  <% end %>
</div>
<!-- end TIMESHEET -->
<br>
<br>

<!-- <select class="position" name="timesheet[shifts][][position]" required><option value="tourguide">Tour Guide</option><option value="cohost">Co-host</option><option value="admin">Admin</option><option value="other">Other</option></select> -->
