<div class="row">
  <div class="large-11 large-offset-1 medium-11 medium-offset-1 small-12 small-offset-1 columns" id="mhlogo">
    <br>
    <%= image_tag("email_logo.png") %>
    <br>
    <br>
</div>
</div>

<div class="row">
  <div class="large-6 large-centered medium-8 medium-centered small-11 small-centered columns" id="sheet">
    <br>
    <h1>CONFIRMATION</h1>
    <h2>Hi <%= @name %></h2>
    <h3>Here is your timesheet below</h3>
    <p>Name: <%= @message.fullname%><br /></p>
    <p>Email:  <%= @message.email%><br /></p>
    <% @message.shifts.each do |shift| %>
    <hr>
    <h2><p>Date:  <%= shift.date %><br /></p></h2>
    <p>Start time:  <%= shift.start_time %><br /></p>
    <p>Position:  <%= shift.position %><br /></p>
    <p>Pay Rate:  <%= number_to_currency(shift.pay_rate) %><br /></p></p>
    <p>Hours worked:  <%= shift.hours_worked %><br /></p>
    <p>Subtotal:  <%= number_to_currency(shift.subtotal) %><br /></p>
    <br>
    <% end %>
    <p>Total hours:  <%= @message.total_hours%><br /></p>
    <p>Grand total: <%= number_to_currency(@message.grand_total) %></p>
    <br>
    <br>
</div>
</div>
