<h1>Hi, <%= @name %></h1>
<h3>Here is your timesheet below</h3>

<p>First name: <%= @message.firstname%><br /></p>
    <p>Last name:  <%= @message.lastname%><br /></p>
    <p>Email:  <%= @message.email%><br /></p>
    <p>Shift date:  <%= @message.date%><br /></p>
    <p>Start time:  <%= @message.start_time%><br /></p>
    <p>Hours worked:  <%= @message.hours_worked%><br /></p></p>
    <p>Position:  <%= @message.position%><br /></p>
    <p>Pay rate:  <%= @message.pay_rate%><br /></p>
    <p>Wages this shift:  <%= @message.subtotal%><br /></p>
    <p>Total hours worked:  <%= @message.total_hours%><br /></p>
    <p>Grand total: <%= @message.grand_total%></p>
